.multiSelect{
    /* display: block; */
    width: 60%;
    height: calc(1.5385em + .875rem + 2px);
    padding: .4375rem .875rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .1875rem;
    box-shadow: 0 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    
.minus {
    width: 10%;
    height: 34px;
    padding: .4375rem .875rem;
    font-size: .8125rem;
    /* font-weight: 400; */
    line-height: 1.5385;
    color: #fff;
    background-color: red;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .1875rem;
    box-shadow: 0 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="file"] {
    display:  inline-block;
}